<a href="https://colab.research.google.com/github/hylabrook/PyNative_Exercise/blob/main/PyNative_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise #01**

In [ ]:
def mult_add(num1, num2):
    mult=num1*num2
    add=num1+num2
    if mult>1000:
      return mult
    else:
      return add

In [ ]:
result=mult_add(100,20)
print("The result is:", result)

The result is: 2000

In [ ]:
result=mult_add(20, 30)
print("The result is:", result)

The result is: 50

**Exercise #02**

In [ ]:
pre_num=0
for i in range(10):
  cur_num=i
  sum=pre_num+cur_num
  print("Current number is", cur_num, "Previous number is", pre_num, "The sum is", sum)
  pre_num=cur_num

Current number is 0 Previous number is 0 The sum is 0
Current number is 1 Previous number is 0 The sum is 1
Current number is 2 Previous number is 1 The sum is 3
Current number is 3 Previous number is 2 The sum is 5
Current number is 4 Previous number is 3 The sum is 7
Current number is 5 Previous number is 4 The sum is 9
Current number is 6 Previous number is 5 The sum is 11
Current number is 7 Previous number is 6 The sum is 13
Current number is 8 Previous number is 7 The sum is 15
Current number is 9 Previous number is 8 The sum is 17

**Exercise #03**

In [9]:
def print_evenc(str):
  print("The original string is", str)
  for i in range(0, len(str), 2):
    print("The ith", i, "character is", str[i])

In [10]:
print_evenc("myfirstpythonnotebook")

The original string is myfirstpythonnotebook
The ith 0 character is m
The ith 2 character is f
The ith 4 character is r
The ith 6 character is t
The ith 8 character is y
The ith 10 character is h
The ith 12 character is n
The ith 14 character is o
The ith 16 character is e
The ith 18 character is o
The ith 20 character is k

In [12]:
newstring=input("Please enter a string: ")
print("The string is:", newstring)
for i in range(0, len(newstring)-1, 2):
  print("The ith", i, "character is", newstring[i])

Please enter a string: python basic exercise
The string is: python basic exercise
The ith 0 character is p
The ith 2 character is t
The ith 4 character is o
The ith 6 character is
The ith 8 character is a
The ith 10 character is i
The ith 12 character is
The ith 14 character is x
The ith 16 character is r
The ith 18 character is i

In [13]:
newstring=input("Please enter a string: ")
print("The string is:", newstring)
x = list(newstring)
for i in x[0::2]:
    print(i)

Please enter a string: python
The string is: python
p
t
o

In [14]:
print(x)

['p', 'y', 't', 'h', 'o', 'n']